.page-header {
    
    text-align: center;
    width: 100%;
  
   
  }
  
  .page {
    page-break-after: always;
  }

  @page {
    margin: 20mm
  }
  
  @media print {
     thead {display: table-header-group;} 
     tfoot {display: table-footer-group;}
     
     button {display: none;}
     a{display: none;}
     
     body {margin: 7mm;}
  }
  #headding, #monthYear {
    font-size: 16pt;
    margin: 4px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    width:100%;
  }
  table {
    font-family:Arial, Helvetica, sans-serif;
  }
  th {
    height: 35px;
    font-size: 12pt;
    vertical-align:bottom;
  }
  td{
  text-align: center;
  height: 26px;
  vertical-align:bottom;
  }
  p{
    font-size: 12pt;
    font-family:Arial, Helvetica, sans-serif;
  }
  #foot{
    margin-left:75%;
    text-align:center;
    width: 25%; 
  }
  #favContainer #place{
margin-left: 8%;
margin-top:1%;
}

#footContainer{
  align-items: center;

}

  #footContainer p{
    margin:5px 0px 0px 0px;
  }
  a{
    text-decoration:none;
    font-size:16pt;
  }
#pagePrint{
  width:100%;
  position: fixed;
  top:15px;
  right:15px;
  text-align:end;
}
img:hover{
  cursor: pointer;
  
}
